
body {
	font-family: 'Open Sans';
}

header {
	margin: 0;
}

header h1	{
	font-family: 'Permanent Marker', serif;
	font-size: 5rem;
	display: inline-block;
	color: #E33977;
	margin: 1rem;
	padding: 0;
}

section#photos {
	width: 100%;
	padding: 0;
	margin: 0;
}

section#photos img {
	margin: 5px;
	height: 500px;
}

@media (max-width: 600px) {
	header h1 {
		font-size: 3rem;
	}

	section#photos img {
		width: 100%;
		height: auto;
	}
}

footer {
	color: #666666;
	margin-left: 5px;
	font-size: 12px;
}